/vendor
/userforms
/themes
/.idea
/siteconfig
/segment-field
/reports
/mysite
/gridfieldextensions
/googlesitemaps
/framework
/cms
/assets
.htaccess
composer.json
composer.lock
favicon.ico
index.php
install.php
install-frameworkmissing.html
README.md
web.config